#!/bin/sh
[Unit]
Description=monitor prepare system
After=mysqld.service
Before=systemd-networkd.service systemd-resolved.service zabbix_agent.service zabbix_server.service lighttpd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/prepare.sh

[Install]
WantedBy=multi-user.target
Wanted=mysqld.service