#!/bin/sh
[Unit]
Description=monitor prepare system
After=postgresql.service
Before=zabbix-server.service zabbix-agent.service

[Service]
Type=oneshot
ExecStart=/usr/bin/prepare.sh

[Install]
WantedBy=multi-user.target
