[Unit]
Description=dump script for zabbix DB
After=postgresql.service prepare.service

[Service]
ExecStart=echo "test" >/dev/null
ExecStop=/usr/bin/zabbixDump.sh
Type=oneshot
RemainAfterExit=yes
# TimeoutSec=300

[Install]
WantedBy=multi-user.target