[Unit]
Description=Zabbix Server Daemon
After=network.target
 
[Service]
Type=forking
User=zabbix
Group=zabbix
RuntimeDirectory=zabbix
RuntimeDirectoryMode=0755
PIDFile=/run/zabbix/zabbix_server.pid
ExecStart=/usr/sbin/zabbix_server
ExecReload=/usr/sbin/zabbix_server -R config_cache_reload
WatchdogSec=30s
Restart=on-failure

[Install]
WantedBy=multi-user.target
